<html>
<head>
  
</head>
<body> 

<p><%= t("report_mailer.weekly_report_remainder.body")%></p>

<% if APP_CONFIG['website'] != nil %>
  <p><a href="<%=APP_CONFIG['website']%>"><%=APP_CONFIG['website']%></a></p>
<% end %>

</body>
</html>